<template>
  <el-container style="width: 200%" direction="vertical">
    <h1 class="page-heading">Find cocktails by ingredient</h1>
    <el-select id="input-ingredient" v-model="search" filterable placeholder="Select an ingredient" clearable
               @input="getCocktails"
    >
      <el-option v-for="ingredient in ingredients" :key="ingredient" :value="ingredient" />
    </el-select>
    <br><br>

    <el-row v-if="cocktails.length" :gutter="20">
      <el-col v-for="cocktail in cocktails" :key="cocktail.idDrink" :sm="8" :md="8" :lg="6" :xl="4">
        <el-card class="cocktail-card" shadow="hover">
          <el-link type="primary" :underline="false" @click="showCocktailDetails(cocktail.idDrink)">
            <el-image :src="cocktail.strDrinkThumb" fit="contain" />

            <el-row type="flex">
              <el-col :sm="24" class="cocktail-card__name">
                <span class="cocktail-card__name-inner">{{ cocktail.strDrink }}</span>
              </el-col>
            </el-row>
          </el-link>
        </el-card>
      </el-col>
    </el-row>

    <cocktail-details-dialog ref="detailsDialog" />
  </el-container>
</template>
<script>
import debounce from 'debounce'
import api from '@/api'
import CocktailDetailsDialog from "@/components/CocktailDetailsDialog";

export default {
  components: {
    CocktailDetailsDialog
  },
  data() {
    return {
      search: '',
      cocktails: [],
      ingredients: [],
    }
  },

  async created() {
    if (this.$route.query.search) {
      this.search = this.$route.query.search
    }
    await this.getIngredients()
    this.getCocktails()
  },

  methods: {
    async getIngredients() {
      const {data} = await api.getIngredients()
      this.ingredients = data.drinks.map(ingredient => ingredient.strIngredient1)
    },

    getCocktails: debounce(async function () {
      if (this.search) {

        if (this.$route.query.search !== this.search) {
          this.$router.replace({
            ...this.$route,
            query: {
              search: this.search
            }
          })
        }

        const {data} = await api.findCocktailsByIngredient(this.search)
        this.cocktails = data.drinks
      }
    }, 300),

    showCocktailDetails(id) {
      this.$refs.detailsDialog.show(id)
    }
  }
}
</script>
<style>
.cocktail-card {
  margin-bottom: 30px;
}

.cocktail-card .el-card__body {
  padding: 0;
}

.cocktail-card__name {
  font-size: 7vw;
  flex: 1;
  min-width: 0;
  width: 100px;
  padding: 20px;
}

.cocktail-card__name-inner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 768px) {
  /* sm */
  .cocktail-card__name {
    font-size: 1.9vw;
  }
}

@media only screen and (min-width: 992px) {
  /* md */
  .cocktail-card__name {
    font-size: 1.9vw;
  }
}

@media only screen and (min-width: 1200px) {
  /* lg */
  .cocktail-card__name {
    font-size: 1.9vw;
  }
}

@media only screen and (min-width: 1920px) {
  /* xl */
  .cocktail-card__name {
    font-size: 1.1vw;
  }
}


</style>
