<template>
  <el-dialog :visible.sync="visible" :title="cocktail.strDrink" width="740px">
    <div v-if="visible">
      <el-row :gutter="30">
        <el-col :sm="12">
          <el-image :src="cocktail.strDrinkThumb" alt="" />
        </el-col>
        <el-col :sm="12">
          <el-tag size="small" type="info">{{ cocktail.strAlcoholic }}</el-tag>
          <br><br>
          <strong>Category</strong><br>
          {{ cocktail.strCategory }}
          <br><br>
          <strong>Ingredients</strong><br>

          <el-table :show-header="false" :data="ingredients" class="table-ingredients">
            <el-table-column prop="measure" align="right" width="100" />
            <el-table-column prop="ingredient" />
          </el-table>
          <br>
          <strong>Instructions</strong><br>
          {{ cocktail.strInstructions }}
        </el-col>
      </el-row>
    </div>
  </el-dialog>
</template>

<script>
import api from '@/api'

export default {

  data() {
    return {
      visible: false,
      cocktail: {}
    }
  },

  computed: {
    ingredients() {
      return [
        {ingredient: this.cocktail.strIngredient1, measure: this.cocktail.strMeasure1},
        {ingredient: this.cocktail.strIngredient2, measure: this.cocktail.strMeasure2},
        {ingredient: this.cocktail.strIngredient3, measure: this.cocktail.strMeasure3},
        {ingredient: this.cocktail.strIngredient4, measure: this.cocktail.strMeasure4},
        {ingredient: this.cocktail.strIngredient5, measure: this.cocktail.strMeasure5},
        {ingredient: this.cocktail.strIngredient6, measure: this.cocktail.strMeasure6},
        {ingredient: this.cocktail.strIngredient7, measure: this.cocktail.strMeasure7},
        {ingredient: this.cocktail.strIngredient8, measure: this.cocktail.strMeasure8},
        {ingredient: this.cocktail.strIngredient9, measure: this.cocktail.strMeasure9},
        {ingredient: this.cocktail.strIngredient10, measure: this.cocktail.strMeasure10},
        {ingredient: this.cocktail.strIngredient11, measure: this.cocktail.strMeasure11},
        {ingredient: this.cocktail.strIngredient12, measure: this.cocktail.strMeasure12},
        {ingredient: this.cocktail.strIngredient13, measure: this.cocktail.strMeasure13},
        {ingredient: this.cocktail.strIngredient14, measure: this.cocktail.strMeasure14},
        {ingredient: this.cocktail.strIngredient15, measure: this.cocktail.strMeasure15},
      ]
          .filter(item => !!item.ingredient)
    }
  },

  methods: {
    show(cocktailId) {
      this.loadDetails(cocktailId)
      this.visible = true
    },

    hide() {
      this.visible = false
    },

    async loadDetails(cocktailId) {
      const {data} = await api.getCocktail(cocktailId);
      this.cocktail = data.drinks[0]
    }
  }
}
</script>
<style>
.el-table.table-ingredients td {
  padding: 6px 0;
}
</style>
