<template>
  <el-container style="width: 200%" direction="vertical">
    <h1 class="page-heading">Find cocktails by name</h1>
    <el-input id="input-search" v-model="search" placeholder="type to search" @input="getCocktails" />
    <br><br>

    <el-table :data="cocktails">
      <el-table-column prop="strDrink" label="Drink" width="200">
        <template slot-scope="scope">
          <el-link type="primary" @click="showCocktailDetails(scope.row.idDrink)">
            {{ scope.row.strDrink }}
          </el-link>
        </template>
      </el-table-column>
      <el-table-column prop="strCategory" label="Category" width="200" />
      <el-table-column label="Ingredients" min-width="300">
        <template slot-scope="scope">
          <el-link v-if="scope.row.strIngredient1" :underline="false" @click="searchIngredient(scope.row.strIngredient1)">
            <el-tag effect="plain" hit type="" size="small">
              {{ scope.row.strIngredient1 }}
            </el-tag>
          </el-link>
          <el-link v-if="scope.row.strIngredient2" :underline="false" @click="searchIngredient(scope.row.strIngredient2)">
            <el-tag effect="plain" hit type="success" size="small">
              {{ scope.row.strIngredient2 }}
            </el-tag>
          </el-link>
          <el-link v-if="scope.row.strIngredient3" :underline="false" @click="searchIngredient(scope.row.strIngredient3)">
            <el-tag effect="plain" hit type="danger" size="small">
              {{ scope.row.strIngredient3 }}
            </el-tag>
          </el-link>
          <el-link v-if="scope.row.strIngredient4" :underline="false" @click="searchIngredient(scope.row.strIngredient4)">
            <el-tag effect="plain" hit type="warning" size="small">
              {{ scope.row.strIngredient4 }}
            </el-tag>
          </el-link>
          <el-link v-if="scope.row.strIngredient5" :underline="false" @click="searchIngredient(scope.row.strIngredient5)">
            <el-tag effect="plain" hit type="info" size="small">
              {{ scope.row.strIngredient5 }}
            </el-tag>
          </el-link>
        </template>
      </el-table-column>
    </el-table>
    <cocktail-details-dialog ref="detailsDialog" />
  </el-container>
</template>
<script>
import debounce from 'debounce'
import api from '@/api'
import CocktailDetailsDialog from "@/components/CocktailDetailsDialog";

export default {
  components: {
    CocktailDetailsDialog
  },
  data() {
    return {
      search: '',
      cocktails: [],
    }
  },

  created() {
    this.getCocktails()
  },

  methods: {
    getCocktails: debounce(async function () {
      const {data} = await api.findCocktailsByName(this.search)
      this.cocktails = data.drinks
    }, 300),

    showCocktailDetails(id) {
      this.$refs.detailsDialog.show(id)
    },

    searchIngredient(ingredient) {
      this.$router.push({name: 'search.ingredient', query: {search: ingredient}})
    }
  }
}
</script>
