<template>
  <el-container id="app" direction="vertical">
    <app-header />
    <el-container class="app-stage">
      <router-view />
    </el-container>
  </el-container>
</template>

<script>

import AppHeader from "@/AppHeader";

export default {
  name: 'App',
  components: {
    AppHeader
  }
}
</script>

<style>
body {
  margin: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}

.page-heading {
  font-weight: 100;
  font-size: 40px;
}

.app-stage {
  padding: 10px 30px 30px;
}

.el-tag  {
  font-weight: 700;
  font-size: 15px;
  margin: 5px 10px 5px 0;
}

.el-tag--dark.el-tag--info {
  background-color: #3b3c40;
}



.el-dialog__body {
  word-break: normal;

}
</style>
