<template>
  <el-header class="app-header">
    <el-container direction="horizontal">
      <span class="app-header__name">cocktailfinder</span>
      <el-menu :default-active="activeIndex" background-color="black" text-color="white" active-text-color="#00ff15" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item index="search.name">
          by name
        </el-menu-item>
        <el-menu-item index="search.ingredient">
          by ingredient
        </el-menu-item>
      </el-menu>
    </el-container>
  </el-header>
</template>
<script>
export default {
  data() {
    return {
      activeIndex: this.$router.currentRoute.name,
    };
  },

  watch: {
    '$route.name'() {
      this.activeIndex = this.$route.name
    }
  },

  methods: {
    handleSelect(key) {
      this.$router.push({name: key})
    }
  }
}
</script>
<style>
.app-header {
  height: 80px;
  background-color: black;
  color: white;
}

.app-header__name {
  font-size: 20px;
  font-weight: bold;
  margin: 15px;
}
</style>
